pycurious-src/pycurious/Examples/Notebooks/Bouligand/.ipynb_checkpoints/*
pycurious-src/pycurious/Examples/Notebooks/Tanaka/.ipynb_checkpoints/*
pycurious-src/pycurious/Examples/.ipynb_checkpoints/*
*.pyc
