include README.md
include MANIFEST.in
include CONTRIBUTING.md
include COPYING
include COPYING.LESSER
include pyproject.toml
recursive-include pycurious *.py
include tests/*.py
include Examples/data/test_mag_data.txt
recursive-include Examples *.ipynb
